<!doctype html>
<html lang="en">
  <head>
    <title>NSFW</title>
    <meta name="description" content="Not Safe For Work">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rubeenvz.com/nsfw">
    <meta property="og:title" content="NSFW">
    <meta property="og:image" content="sprites/michael/sprite_0.png">
    <meta property="og:description" content="Not Safe For Work">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://rubeenvz.com/nsfw">
    <meta property="twitter:title" content="NSFW">
    <meta property="twitter:description" content="Not Safe For Work">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="general-container" id="app">
      <transition name="fade">
        <div class="general-menu__container">
          <transition name="fade">
            <div class="general-menu__buttons" v-show="!isForm">
              <div class="general-menu__buttons">
                <button class="general-button primary" @click="init">Enjoy it</button>
                <button class="general-button link mt-4" @click="showForm(true)">Create one</button>
              </div>
            </div>
          </transition>
          <transition name="fade">
            <general-form v-show="isForm"></general-form>
          </transition>
          <footer>
            <p class="general-footer__credits">
              <a href="https://rubeenvz.com/" target="_blank">Made with <span>&lt;3</span> by Rubeenvz</a>
            </p>
          </footer>
        </div>
      </transition>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      Vue.component('general-form', {
        template: `
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <form class="form__container">
                <div class="text-white text-center mb-4">
                  <label class="form-input__label" for="url">Create one</label>
                </div>
                <div class="form-input__container">
                  <label class="form-input__label" for="url">URL:</label>
                  <input class="form-input__element" placeholder="https://www.youtube.com/watch?v=I_izvAbhExY" type="text" name="url" id="url" v-model="data.url">
                </div>
                <div class="form-input__container">
                  <label class="form-input__label" for="message">Message:</label>
                  <input class="form-input__element" placeholder="Enjoy!" type="text" name="message" id="message" v-model="data.message">
                </div>
                <div class="form-input__container">
                  <label class="form-input__label" for="size">Font Size:</label>
                  <input class="form-input__element" placeholder="30" type="number" name="size" id="size" min="30" v-model="data.size">
                </div>
                <div class="form-input__container">
                  <label class="form-input__label" for="character">Character:</label>
                  <select class="form-input__element" id="character" v-model="data.character" name="character">
                    <option selected="selected" value="null">-</option>
                    <option value="michael">Michael Jackson</option>
                    <option value="ditto">Ditto</option>
                    <option value="nyan">Nyan Cat</option>
                  </select>
                </div>
                <div class="form-input__container">
                  <label class="form-input__label" for="color">Color:</label>
                  <input  name="color" type="checkbox" class="form-check-input" v-model="data.color">
                </div>
              </form>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="form__link text-center">
                <a :href="link" target="_blank">{{linkFixed}}</a>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-4">
              <div class="general-menu__buttons text-center mt-4">
                <div class="d-flex">
                  <button class="general-button primary mx-2" @click="copyLink">Copy link</button>
                  <a class="general-button primary mx-2" target="_blank" :href="link">Open link</a>
                </div>
                <button class="general-button link mt-4" @click="hideForm">Back</button>
              </div>
            </div>
          </div>
        </div>
        `,
        data: function () {
          return {
            data: {},
          }
        },
        computed: {
          link() {
            let elements = ['https://rubeenvz.com/nsfw/']
            if(this.data.url != undefined && this.data.url != "") {
              if(this.data.url.includes("https://www.youtube.com/watch?v=") && this.getParams(this.data.url)) {
                elements.push("v="+this.getParams(this.data.url))
              }
              else if(this.data.url.includes("https://youtu.be/") && this.getParams(this.data.url, 1)) {
                elements.push("v="+this.getParams(this.data.url, 1))
              }
              else {
                return 'Invalid URL!!!'
              }
            }
            if(this.data.character != undefined && this.data.character != "" && this.data.character != "null")
              elements.push('c='+this.data.character)
            if(this.data.message != undefined && this.data.message != "")
              elements.push('m='+this.data.message.replaceAll(" ","%20"))
            if(this.data.size != undefined && this.data.size != "")
              elements.push('s='+this.data.size)
            if(this.data.color != undefined && this.data.color != "")
              elements.push('b=true')
            if(elements.length > 1)
              elements[0] += '?'
            let link = ''
            elements.forEach((element, index) => {
              if(index != 0) {
                link += '&'
              }
              link += element
            })
            return link
          },
          linkFixed() {
            return this.link.length >= 40 ? (this.link.slice(0, 40)+'...'+this.link.slice(this.link.length-10, this.link.length)) : this.link
          }
        },
        methods: {
          copyLink() {
            if (!navigator.clipboard) {
              fallbackCopyTextToClipboard(this.link);
              return
            }
            navigator.clipboard.writeText(this.link).then(function() {
              alert('Copied!!!')
            }, function(err) {
            })
          },
          hideForm() {
            app.showForm(false)
          },
          getParams(url, type = 0) {
            if(type)
              return url.split("/")[3]
            return url.split("v=")[1]
          }
        }
      })

      var app = new Vue({
        el: '#app',
        data: function () {
          return {
            isForm: false,
          }
        },
        methods: {
          showForm(state) {
            this.isForm = state
          },
          sentData() {
            const urlParams = new URLSearchParams(window.location.search)
            axios.post('saveData.php',
            {
              url: urlParams.get('v') ? urlParams.get('v') : 'I_izvAbhExY',
              message: urlParams.get('m') ? urlParams.get('m') : ''
            })
          },
          init() {
            this.sentData()
            let link = 'https://rubeenvz.com/nsfw/canvas.html'
            let url = window.location.search
            window.location.href = link+url.split("https://rubeenvz.com/nsfw/")[0]
          }
        }
      })
    </script>
  </body>
</html>